apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  namespace: example
spec:
    selector:
      matchLabels:
        app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
        - name: hello-world-ctr
          image: bhnalliarun/my-poc:1.0.0
            imagePullPolicy: Always
          ports:
            - name: web
              containerPort: 3000
              protocol: TCP
    resources: 
          limits: 
            cpu: 250m 
            memory: 32Mi	  
---

apiVersion: v1
kind: Service
metadata:
  name: hello-world-svc
  namespace: example

spec:
type: LoadBalancer
selector:
    app: hello-world
ports:
   - name: http
      protocol: TCP
    - port: 8080
      targetPort: web
---

kind: HorizontalPodAutoscaler 
apiVersion: autoscaling/v2beta1 
metadata: 
  name: hello-world 
spec: 
maxReplicas: 3
minReplicas: 1
scaleTargetRef: 
    apiVersion: app/v1 
    kind: Deployment 
    name: hello-world
metrics: 
- type: Resource 
    resource: 
      name: cpu 
      targetAverageUtilization: 70
